<h1>This is the sorted set type get page of Stack Exchange</h1>

<hr />

@foreach (var item in ViewBag.Hash)
{
    <p>@item <a class="btn btn-sm btn-danger" asp-controller="ListType" asp-action="Delete" asp-route-data="@item">Delete</a></p>
}