<h1>This is the list type set page of Stack Exchange</h1>

<hr />

<form method="post" asp-controller="ListType" asp-action="Add">

    <input type="text" name="data" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>